body {
    font-size: 14px;
    background-color: #ececec;
}

.container {
    width: 80%;
}

/* PRINTABLE CONTENT STYLING*/

#printable {
    border: solid 1px #aaa;
    padding: 2rem;
    margin-top: 2rem;
    background-color: #fff;
}

#printable h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

*[contenteditable="true"]:hover {
    background: linear-gradient(-45deg, #fff, #ececec);
    background-size: 400% 400%;
    animation: blink 1s ease infinite;
}

.info-table1,
.info-table2 {
    table-layout: fixed;
}

.info-table1 th,
.info-table2 th {
    width: 30%;
}

.info-table1 td,
.info-table2 td {
    width: 70%;
}

@keyframes blink {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#printable .section-heading {
    margin: 2rem 0;
}

/* HEADER STYLES */

.custom-header {
    background-color: #998c7f;
    color: #ececec;
}

.custom-header nav.navbar ul.navbar-nav li a {
    color: #ececec;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
}

.custom-header a:hover {
    border-bottom: 1px solid #ececec;
}

.custom-header a.active {
    border-bottom: 1px solid #ececec;
}

/* TABLE STYLES */
td.narrow {
    width: 15%;
}

/* ACTION BUTTONS */

.actions {
    padding: 2rem;
}

.actions button.btn-primary,
.actions button.btn-primary:active {
    background-color: #998c7f;
    border: 0;
    border-radius: 0;
}

.actions button:hover {
    background-color: #ccbfb2;
}

/* CUSTOM FOOTER */
.custom-footer {
    background-color: #664d33;
    color: #ececec;
}
