body {
    font-size: 14px;
    background-color: #ececec;
}

.container {
    width: 80%;
}

/* PRINTABLE CONTENT STYLING*/

#printable {
    border: solid 1px #aaa;
    padding: 2rem;
    margin-top: 2rem;
    background-color: #fff;
}

#printable h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#printable .section-heading {
    margin: 1rem 0;
}

/* HEADER STYLES */

.custom-header {
    background-color: #998c7f;
    color: #ececec;
}

.custom-header nav.navbar ul.navbar-nav li a {
    color: #ececec;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
}

.custom-header a:hover {
    border-bottom: 1px solid #ececec;
}

.custom-header a.active {
    border-bottom: 1px solid #ececec;
}

/* TABLE STYLES */
.info-label {
    font-weight: bold;
}

/* ACTION BUTTONS */

.actions {
    padding: 2rem;
}

.actions button.btn-primary,
.actions button.btn-primary:active {
    background-color: #998c7f;
    border: 0;
    border-radius: 0;
}

.actions button:hover {
    background-color: #ccbfb2;
}

/* CUSTOM FOOTER */
.custom-footer {
    background-color: #664d33;
    color: #ececec;
}

section.deletable {
    margin: 0;
}

/* Delete button */
.deletable {
    position: relative;
    padding: 0.5rem 1rem;
    margin: 0.2rem 1rem;
    border: 1px solid #fff;
}

.deletable-hover {
    border: 1px dashed #aaa;
    border-radius: 0.5rem;

    /*outline-offset: -10px;*/
}

.deletebtn {
    color: #ffcccb;
    position: absolute;
    right: -0.75rem;
    top: -1rem;
    font-size: 1.5rem;
    background-color: #fff;
    cursor: pointer;
}

.deletebtn:hover {
    color: #f00;
}

/* Spacing */

.deletable {
}
