body {
    font-size: 14px;
    background-color: #ececec;
}

.container {
    width: 80%;
}

h1.logo {
    border: 0.3rem dashed;
    border-radius: 1rem;
    padding: 1rem;
}

/* PRINTABLE CONTENT STYLING*/

#printable {
    border: solid 1px #aaa;
    padding: 2rem;
    margin-top: 2rem;
    background-color: #fff;
}

#printable h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#printable .section-heading {
    margin: 1rem 0;
}

/* HEADER STYLES */

.custom-header {
    background-color: #606060;
    color: #d6ed17;
}

.custom-header nav.navbar ul.navbar-nav li a {
    color: #d6ed17;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
}

.custom-header a:hover {
    border-bottom: 1px solid #d6ed17;
}

.custom-header a.active {
    border-bottom: 1px solid #d6ed17;
}

/* TABLE STYLES */
.info-label {
    font-weight: bold;
}

/* ACTION BUTTONS */

.actions {
    padding: 2rem;
}

.actions button.btn-primary,
.actions button.btn-primary:active,
button.btn-secondary,
button.btn-secondary:active {
    background-color: #606060;
    border: 0;
    color: #d6ed17;
}

.actions button:hover {
    background-color: #aaa;
}

/* CUSTOM FOOTER */
.custom-footer {
    background-color: #444;
    color: #ececec;
}

section.deletable {
    margin: 0;
}

/* Deletable items and delete button */
.deletable {
    position: relative;
    padding: 0.5rem 1rem;
    margin: 0.2rem 1rem;
    border: 1px solid #fff;
}

.deletable-hover {
    border: 1px dashed #aaa;
    border-radius: 0.5rem;
}

.deletebtn {
    color: #ffcccb;
    position: absolute;
    right: -0.75rem;
    top: -1rem;
    font-size: 1.5rem;
    background-color: #fff;
    cursor: pointer;
}

.deletebtn:hover {
    color: #f00;
}

/* Adding new item */

.add-element {
    border: 1px dashed #3cb371;
    border-radius: 0.5rem;
    color: #3cb371;
    position: relative;
    padding: 0.5rem 1rem;
    margin: 0.2rem 1rem;
    cursor: pointer;
}

.add-element:hover {
    border: 1px dashed #2e8b57;
    color: #2e8b57;
}
